//====================================================================================================

//====================================================================================================
.follow {
  background-color: #f6f6f6;

  @include adaptiveValue("padding-top", 50, 25);
  @include adaptiveValue("padding-bottom", 60, 25);

  // .follow__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: toRem(1294)) {
      flex-direction: column;
      gap: toRem(30);
    }
  }

  // .follow__form

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // .follow__title

  &__title {
    color: #0f0f0f;

    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;

    padding-bottom: toRem(40);
  }

  // .follow__label

  &__label {
    padding: toRem(25) toRem(195) toRem(25) toRem(30);
    display: flex;
    gap: toRem(12);
    background: transparent;
    border: 2px solid #bfbfbf;
    height: 100%;

    max-width: toRem(450);
  }

  // .follow__input

  &__input {
    font-size: 24px;
  }

  // .follow__button

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: toRem(25) toRem(150);
    max-width: toRem(450);

    background-color: #0f0f0f;
    border: 2px solid #0f0f0f;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s;
    &:hover {
      background-color: transparent;
      color: #0f0f0f;
    }
  }

  // .follow__social
}
.social-follow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // .social-follow__items

  &__items {
    @include adaptiveValue("padding-top", 85, 35);
    display: flex;
    gap: toRem(59);
    align-items: center;
    justify-content: center;
  }

  // .social-follow__item

  &__item {
    max-width: toRem(52);

    img {
      width: 100%;
      height: 100%;
    }
  }

  // .social-follow__link

  &__link {
    transition:
      transform 0.3s ease,
      filter 0.3s ease;

    &:hover {
      transform: scale(1.1);
      filter: brightness(1.2);
    }
  }

  &__border {
    background-color: #878787;
    height: 65px;
    width: 2.4px;
  }
}
//====================================================================================

.reviews {
  background-color: #fff;
  @include adaptiveValue("padding-top", 85, 50);
  @include adaptiveValue("padding-bottom", 100, 500);

  // .reviews__container

  &__container {
  }

  // .reviews__title

  &__title {
    color: var(--Grey-2, #878787);
    font-family: Montserrat;
    font-size: 90px;
    font-style: normal;
    font-weight: 200;
    line-height: 100%; /* 90px */

    padding-bottom: toRem(73);

    @media (max-width: $tablet) {
      text-align: center;
    }
  }

  // .reviews__content

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $tablet) {
      flex-direction: column;
      text-align: center;
    }
  }

  // .reviews__item

  &__item {
  }

  // .reviews__more

  &__more {
    @include adaptiveValue("padding-bottom", 94, 50);
    color: #0f0f0f;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 24px */
    text-transform: uppercase;

    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      content: "";
      width: 74px;
      height: 1px;
      background: #0f0f0f;
      text-align: center;
    }
  }

  // .reviews__text

  &__text {
    color: #0f0f0f;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px; /* 156.25% */
    letter-spacing: 1.12px;

    span {
      cursor: pointer;
      color: #0f0f0f;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px;
      letter-spacing: 1.12px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.item-reviews {
  // .item-reviews__raiting

  &__raiting {
    padding-bottom: toRem(15);
  }

  // .item-reviews__title

  &__title {
    color: #000;

    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 28.6px */

    padding-bottom: toRem(15);
  }

  // .item-reviews__text

  &__text {
    max-width: 748px;
    color: #000;
    padding-bottom: toRem(25);

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }

  &__date {
    padding-bottom: toRem(60);
    color: #000;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }
}
//====================================================================================
.news {
  @include adaptiveValue("padding-top", 80, 60);
  @include adaptiveValue("padding-bottom", 80, 60);
  background-color: #f4efec;

  // .news__container

  &__container {
    display: flex;
    justify-content: space-between;

    @media (max-width: toRem(1240)) {
      flex-direction: column;
    }
  }

  // .news__content

  &__content {
  }

  // .news__image

  &__bg {
    position: relative;
  }

  &__image {
    display: block;
    height: 64.84vw;
    position: absolute;
    right: 0;
    top: -5.02vw;
    width: 45.78vw;
    z-index: 1;

    @media (max-width: toRem(1240)) {
      top: 0;
      height: 0;
      width: 0;
    }

    img {
      object-position: center center;
      width: 100%;
      height: 100%;
    }
  }
}
.content-news {
  @media (max-width: toRem(1240)) {
    text-align: center;
  }
  // .content-news__title

  &__title {
    padding-bottom: toRem(70);
  }

  // .content-news__item

  &__item {
  }

  // .content-news__subtitle

  &__subtitle {
    padding-bottom: toRem(15);
    color: #000;

    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }

  // .content-news__text

  &__text {
    padding-bottom: toRem(30);
    max-width: 748px;

    color: #000;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  // .content-news__read

  &__read {
    @include adaptiveValue("padding-bottom", 95, 60);
    color: #000;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  // .content-news__more

  &__more {
    color: var(--Black-1, #0f0f0f);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 24px */
    text-transform: uppercase;
  }
}

//====================================================================================
.best {
  background-color: #fff;
  @include adaptiveValue("padding-bottom", 140, 70);
  @include adaptiveValue("padding-top", 100, 50);

  // .best__container

  &__container {
  }

  // .best__wrap

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: toRem(1049)) {
      flex-direction: column;
      gap: toRem(20);
    }
  }

  // .best__title

  &__title {
  }

  // .best__text

  &__text {
    color: var(--Black-1, #0f0f0f);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 24px */
    text-transform: uppercase;

    @media (max-width: toRem(1049)) {
      padding-bottom: toRem(20);
    }
  }

  // .best__items

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: toRem(60);

    @media (max-width: toRem(1049)) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }
  }
}

.item-card {
  position: relative;
  max-width: 374;
  // .item-card__labels

  // .item-card__image

  &__image {
    padding-bottom: toRem(15);

    img {
      width: 100%;
      transition: all 0.3s;

      &:hover {
        scale: 1.04;
      }
    }
  }

  // .item-card__content

  &__content {
  }

  // .item-card__colors

  &__colors {
    display: none;
    max-width: 171px;
    img {
      width: 100%;
    }
  }

  // .item-card__wrap

  &__wrap {
    display: flex;
    justify-content: space-between;

    padding-bottom: toRem(17);

    @media (max-width: $tablet) {
      flex-direction: column;
      text-align: center;
    }
  }

  // .item-card__raiting

  &__raiting {
  }

  // .item-card__text

  &__text {
    color: var(--Black-1, #0f0f0f);
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  // .item-card__subtitle

  &__subtitle {
    padding-bottom: toRem(25);

    color: #0f0f0f;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  // .item-card__price

  &__price {
    padding-bottom: toRem(35);

    color: #0f0f0f;

    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
  }

  // .item-card__btn

  &__btn {
    display: none;
  }

  // .item-card__button

  &__button {
    font-size: 18px;
    letter-spacing: 0.07em;
    line-height: 22px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0f0f0f;
    color: #fff;
    display: flex;
    font-weight: 700;

    text-transform: uppercase;
    transform: translateX(-30px);
    padding: toRem(25) toRem(120);

    transition: all 0.3s;

    &:hover {
      background-color: transparent;
      color: #0f0f0f;
      border-color: 1px #0f0f0f;
    }
  }
}
.labels {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 10;
  // .labels__text

  &__text {
    background-color: #0000;
    color: #fff;
  }
}

//====================================================================================
.sale {
  @include adaptiveValue("padding-top", 137, 90);
  @include adaptiveValue("padding-bottom", 130, 80);
  // .sale__container

  &__container {
  }

  // .sale__wrap

  &__wrap {
    display: flex;
    justify-content: space-between;

    padding-bottom: toRem(17);

    @media (max-width: $tablet) {
      flex-direction: column;
      text-align: center;
    }
  }

  // .sale__title

  &__title {
  }

  // .sale__text

  &__text {
  }

  // .sale__items

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: toRem(90);

    @media (max-width: $mobile) {
      gap: toRem(60);
    }

    @media (max-width: $tablet) {
      gap: toRem(60);
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }
  }
}

.item-sale {
  overflow: hidden;
  position: relative;

  // .item-sale__image

  &__image {
    height: 600px;
    overflow: hidden;
    width: 100%;

    padding-bottom: toRem(32);

    img {
      height: 100%;
      width: 100%;
    }
  }

  &:hover {
    overflow: initial;
  }

  // .item-sale__info

  &__info {
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    bottom: -117px;
    color: #0f0f0f;
    display: flex;
    flex-direction: column;
    height: 262px;
    justify-content: space-between;
    left: 56px;
    padding: 32px 24px;
    position: absolute;
    transition: all 0.5s;
    width: 100%;
  }

  // .item-sale__row

  &__row {
  }

  // .item-sale__title

  &__title {
    color: var(--Black-1, #0f0f0f);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 36px */

    padding-bottom: toRem(12);
  }

  // .item-sale__text

  &__text {
    color: #000;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;

    padding-bottom: toRem(60);
  }

  // .item-sale__link

  &__link {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  // .item-sale__more

  &__more {
    color: var(--Black-1, #0f0f0f);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 31.2px */
  }
}

//====================================================================================

//====================================================================================

//====================================================================================
.main {
  &__slider {
    min-width: 0;
  }
}

.slider-main {
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  // .slider-main__bg

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.8;
  }

  // .slider-main__container

  &__container {
    min-height: 100vh;
    z-index: 2;
    position: relative;
    padding-top: toRem(190);
  }

  // .slider-main__title

  &__title {
    color: #fff;
    @include adaptiveValue("font-size", 160, 40);
    font-weight: 100;
  }

  &__subtitle {
    @include adaptiveValue("padding-top", 60, 20);
    @include adaptiveValue("padding-bottom", 60, 20);
    max-width: toRem(640);
    color: #fff;
    @include adaptiveValue("font-size", 24, 16);
  }

  // .main-slider__button

  &__button {
    cursor: pointer;
    max-width: toRem(313);
    text-align: center;
    border: 1px solid #ffffff;
    padding: toRem(25) toRem(0);
    color: #fff;
    font-size: toRem(18);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: toRem(74);
      height: toRem(1);
      top: 50%;
      right: 5%;
      background-color: #fff;
    }
  }

  // .main-slider__count

  &__count {
  }

  // .main-slider__arrow
}
//====================================================================================

.slider-buttons {
  position: absolute;
  bottom: -30%;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: toRem(20);

  span {
    color: #fff;
    font-size: toRem(72);
    font-weight: 200;
    opacity: 0.5;
  }

  // .slider-buttons__arrow

  &__arrow {
    width: toRem(40);
    height: toRem(70);
    opacity: 0.5;
    transform: rotate(90deg);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__arrow-right {
    transform: rotate(-90deg);

    width: toRem(40);
    height: toRem(70);
    opacity: 0.5;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
