//====================================================================================================

//====================================================================================================
.follow {
  background-color: #f6f6f6;

  @include adaptiveValue("padding-top", 50, 25);
  @include adaptiveValue("padding-bottom", 60, 25);

  // .follow__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: toRem(1294)) {
      flex-direction: column;
      gap: toRem(30);
    }
  }

  // .follow__form

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // .follow__title

  &__title {
    color: #0f0f0f;

    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;

    padding-bottom: toRem(40);
  }

  // .follow__label

  &__label {
    padding: toRem(25) toRem(195) toRem(25) toRem(30);
    display: flex;
    gap: toRem(12);
    background: transparent;
    border: 2px solid #bfbfbf;
    height: 100%;

    max-width: toRem(450);
  }

  // .follow__input

  &__input {
    font-size: 24px;
  }

  // .follow__button

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: toRem(25) toRem(150);
    max-width: toRem(450);

    background-color: #0f0f0f;
    border: 2px solid #0f0f0f;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s;
    &:hover {
      background-color: transparent;
      color: #0f0f0f;
    }
  }

  // .follow__social
}
.social-follow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // .social-follow__items

  &__items {
    @include adaptiveValue("padding-top", 85, 35);
    display: flex;
    gap: toRem(59);
    align-items: center;
    justify-content: center;
  }

  // .social-follow__item

  &__item {
    max-width: toRem(52);

    img {
      width: 100%;
      height: 100%;
      transition: all 0.3s;
      fill: #878787;

      &:hover {
        fill: #1f1818;
      }
    }
  }

  // .social-follow__link

  &__link {
  }

  &__border {
    background-color: #878787;
    height: 65px;
    width: 2.4px;
  }
}
//====================================================================================

.reviews {
  background-color: #fff;
  @include adaptiveValue("padding-top", 85, 50);
  @include adaptiveValue("padding-bottom", 100, 500);

  // .reviews__container

  &__container {
  }

  // .reviews__title

  &__title {
    color: var(--Grey-2, #878787);
    font-family: Montserrat;
    font-size: 90px;
    font-style: normal;
    font-weight: 200;
    line-height: 100%; /* 90px */

    padding-bottom: toRem(73);

    @media (max-width: $tablet) {
      text-align: center;
    }
  }

  // .reviews__content

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $tablet) {
      flex-direction: column;
      text-align: center;
    }
  }

  // .reviews__item

  &__item {
  }

  // .reviews__more

  &__more {
    @include adaptiveValue("padding-bottom", 94, 50);
    color: #0f0f0f;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 24px */
    text-transform: uppercase;

    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      content: "";
      width: 74px;
      height: 1px;
      background: #0f0f0f;
      text-align: center;
    }
  }

  // .reviews__text

  &__text {
    color: #0f0f0f;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px; /* 156.25% */
    letter-spacing: 1.12px;

    span {
      cursor: pointer;
      color: #0f0f0f;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px;
      letter-spacing: 1.12px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.item-reviews {
  // .item-reviews__raiting

  &__raiting {
    padding-bottom: toRem(15);
  }

  // .item-reviews__title

  &__title {
    color: #000;

    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 28.6px */

    padding-bottom: toRem(15);
  }

  // .item-reviews__text

  &__text {
    max-width: 748px;
    color: #000;
    padding-bottom: toRem(25);

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }

  &__date {
    padding-bottom: toRem(60);
    color: #000;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }
}
